@model AppOwnsDataMultiTenant.Models.AppProfile

<h2>
  <span><a class="btn btn-sm h2-backarrow" asp-action="Profiles"><i class="fa fa-backward"></i></a></span>
  <span>Service Principal Profile Details</span>
</h2>

<form class="form-horizontal" role="form">
  <fieldset>
    <div class="form-group row">
      <label for="AppIdentityName" class="col-sm-2 col-form-label">Profile Name</label>
      <div class="col-sm-10">
        <input class="form-control " id="ProfileName" name="ProfileName" readonly value="@Model.ProfileName">
      </div>
    </div>
    <div class="form-group row">
      <label for="ProfileId" class="col-sm-2 col-form-label">Profile ID</label>
      <div class="col-sm-10">
        <input class="form-control" id="ProfileId" name="ProfileId" readonly="readonly" value="@Model.ProfileId">
      </div>
    </div>
  </fieldset>
</form>

<h3>Customer tenants owned by this profile</h3>

<table class="table table-bordered table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Tenant</th>
      <th>Workspace ID</th>
      <th>Profile Owner</th>
      <th style="text-align:center;">Embed</th>
      <th style="text-align:center;">Web URL</th>
      <th style="text-align:center;">View</th>
      <th style="text-align:center;">Delete</th>
    </tr>
  </thead>
  @foreach (var tenant in Model.Tenants) {
    <tr>
      <td>@tenant.Name</td>
      <td>@tenant.WorkspaceId</td>
      <td>@tenant.ProfileName</td>
      <td style="text-align:center"><a href="~/Home/Embed/?TenantName=@tenant.Name" class="nav nav-link" target="_blank"><i class="fa fa-bar-chart"></i></a></td>
      <td style="text-align:center"><a href="@tenant.WorkspaceUrl" class="nav nav-link" target="_blank"><i class="fa fa-line-chart"></i></a></td>
      <td style="text-align:center"><a href="~/Home/Tenant/?TenantName=@tenant.Name" class="nav nav-link"><i class="fa fa-search"></i></a></td>
      <td style="text-align:center"><a href="~/Home/DeleteTenant/?TenantName=@tenant.Name" class="nav nav-link"><i class="fa fa-remove"></i></a></td>
    </tr>
  }
</table>